@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

pre {
	font-family: seria;
	overflow-wrap: break-word;
	white-space: pre-wrap;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

/* 共通 */

strong {
	font-size: 12px;
}

.main-contents {
	padding: 50px 10% 0;
	margin-bottom: 100px;
}

.top-errors {
	border-radius: 5px;
	background-color: #ffa07a;
	padding: 8px 8px 8px 20px;
	margin: 5px;
}

.top-errors li {
	list-style: none;
}

/* ヘッダー */

header {
	background-color: #000000;
	height: 50px;
}

.header-contents {
	margin: 0 10%;
}

header .logo {
	text-decoration: none;
	font-size: 30px;
	display: inline-block;
	line-height: 50px;
	color: white;
}

header ul {
	float: right;
}

header ul li {
	float: left;
	margin: 0 15px;
	font-size: 20px;
	list-style: none;
	color: white;
	line-height: 50px;
}

header a {
	text-decoration: none;
	color: white;
}
header a:hover {
	text-decoration: none;
	color: #dcdcdc;
}

/* top ----------------------------------------------------------------------*/

.post {
	margin-bottom: 50px;
}

.post-data {
	margin-bottom: 20px;
}

/* 投稿本文 */
/* 画面配置設定 */
.top-left, .top-right {
	width: 20%;
	padding: 2%;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #dcdcdc;
}

.top-center {
	width: 55%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 2%;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #dcdcdc;
}

.top-right {
	width: 20%;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #dcdcdc;
}


/* トップ画面左の表示 */


/* トップ画面中央表示 */
.top-center h3 {
	font-size: 30px;
	margin-bottom: 20px;
	border-bottom: 3px solid #000;
}

.post {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #000;
}

.post:last-child {
	border-bottom: none;
}

.post-delete-btn {
	padding: 5px;
	background-color: #fa8072;
	border: none;
	border-radius: 3px;
	float: right;
}

.post-text{
	margin-bottom: 20px;
}
.post-date {
	font-size: 13px;
 	float: right;
}

.post-data .title span {
	font-weight: bold;
}

.post-data .text {
	font-size: 17px;
	padding-left: 25px;
	margin-bottom: 20px;
}

.comment {
	margin-left: 20px;
}

.comment-form .item {
	float: left;
}

.comment-form .text {
	padding:5px;
	margin-right: 3%;
	height: 50px;
	width: 70%;
	border-radius: 5px;
}

.comment-form .submit {
	margin-top: 10px;
	height: 30px;
	width: 20%;
	border-radius: 4px;
}

.comment-list {
	margin-top: 20px;
	vertical-align: top;
}

.comment li {
	list-style: none;
	margin-bottom : 14px;
}

.comment-list .text {
	display: inline-block;
	width: 70%;

}

.comment-list form {
	display: inline-block;
	width: 20%;
}

.comment-list .delete-btn {
	padding: 2px;
	background-color: #fa8072;
	border: none;
	border-radius: 3px;
	float: right;
}

/* トップ画面右の表示 */
.category-search, .date-search {
	margin-bottom: 5px;
}

#startDate, #endDate {
	width: 100%;
;
}

.search-btn {
	width: 100%;

}
/* top ----------------------------------------------------------------------*/
/* login, newPost, signup, userEdit------------------------------------------ */

.form-contents {
	width: 40%;
	margin: 50px 30%;
}

.form-contents .error-messages {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 20px;
	color: red;
	font-weight: bold;
	font-size: 20px;
}

.form-contents label {
	display: block;
}

.form-contents .item {
	margin-bottom: 10px;
}

.form-contents .text-form {
	font-size: 17px;
	width: 100%;
	height: 30px;
	padding: 3px;
	border-radius: 3px;
	border: 2px solid #A9A9A9;
}

.form-contents .textarea {
	height: auto;
}

.form-contents select {
	width: 30%;
	border-radius: 3px;
	border: 2px solid #A9A9A9;
	padding: 3px;
}

.form-contents .submit {
	margin-top: 30px;
	height: 50px;
	padding: 2px;
	width: 100%;
	background-color: #b0c4de;
	border-radius: 4px;
	font-size: 30px;
	font-weight: bold;
}

.form-contents .submit:hover {
	background-color: #4169e1;
}


/* login, newPost, signup, userEdit------------------------------------------ */
/* management---------------------------------------------------------------- */

.management-users {
	display: inline-block;
	width: 65%;
}

.signup-link {
	font-size: 20px;
}
/* 左のユーザー一覧表 */
.management-users table{
  border-collapse:collapse;
  width: 100%;
}

.management-users th{
  border-bottom:2px solid #000;
  padding:10px;
}

.management-users td {
	border-bottom: 1px dashed #999;
	padding:10px;
}

.management-users tbody tr:nth-child(even) {
	background-color: #f5f5f5;
}

.management-users tbody tr:hover {
	background-color: #dcdcdc;
}

.management-users .user-edit-btn {
	text-align: center;
}

.management-users .user-delete-btn {
	display: inline-block;
	border: 1px solid #a9a9a9;
	border-radius: 3px;
	margin: 0 auto;
	padding: 3px;
}

.management-users .user-delete-btn:hover {
	border: 3px solid #a9a9a9;
}

/* 右側の管理メニュー */

.management-link-list {
	vertical-align: top;
	display: inline-block;
	width: 25%;
	padding-left: 40px;
	padding-top: 15px;
}

.management-link-list h3 {
	font-weight: normal;
	border-bottom: 2px solid #000;
}

.management-link-list li {
	list-style: none;
	margin-top: 5px;
}

.management-link-list a {
	display: block;
	text-decoration: none;
	color: #000;
}
.management-link-list a:hover {
	background-color: #f5f5f5;
}

/* management---------------------------------------------------------------- */



